@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

.maincontainer {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titletext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcometo {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.universeaty {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.startby {
  font-size: 1.2em;
  text-align: center;
}
.mainForm {
  display: flex;
  flex-direction: column;
}

/* .betweenterms {
  width: 20px;
  height: 1px;
} */

.submitcontainer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  min-width: 30%;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 40vw;
  min-width: 250px;
  align-items: center;
  margin-top: 0.5em;
}

form {
  width: 100%;
}

.explain {
  font-size: 1.2em;
  text-align: center;
}

.tablecontainer {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  padding-top: 1em;
  margin-top: 1em;
  width: 80%;
}

.MuiTableCell-root {
  text-align: center;
}

.MuiButtonBase-root {
  text-align: center;
}

td.MuiTableCell-root {
  text-align: center;
}

h2 {
  text-align: center;
}

.bottomleft {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

.bottomright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 2em;
}

.howcontact {
  font-size: 1.2em;
  margin-top: 2.5em;
  text-align: center;
}

.css-rqglhn-MuiTable-root {
  width: 100%;
}

#modal-modal-description {
  text-align: center;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.MuiBox-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  border-color: white !important;
}
